/.classpath
/.project
/.settings/
/public/resources/
/log/
/data/
/target/
/.project.json
/.user.project.json
/build/
/server.json
/backup/
/bin/
**.vscode
/.externalToolBuilders
/web/lib
/bower_components
/node_modules
/node
/dependency-reduced-pom.xml
/dist
/sbwo.zip
