<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
		    <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>
        </Console>
		<RollingFile name="File" 
            fileName="./log/log.txt" 
            filePattern="./log/log_%d{yyyyMMdd}_%i.txt">
			<JsonLayout locationInfo="false" complete="true" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
    	<Root level="debug">
    		<Appender-ref ref="Console" level="error"/>
    		<Appender-ref ref="File" level="info"/>
    	</Root>
    </Loggers>
</Configuration>